#board {
  margin-top: 10px;
}

#turn {
	text-align: center;
}

#reset-button:hover {
	background-color: yellow;
}

.box {
  height: 150px;
  cursor: pointer;
  text-align: center;
  font-size: 64px;
  font-family: 'Open Sans', sans-serif;
}

#box-1 {
	border-right: 8px solid #f2f4f2;
	border-bottom: 8px solid #f2f4f2;
}

#box-2 {
	border-bottom: 8px solid #f2f4f2;
}

#box-3 {
	border-left: 8px solid #f2f4f2;
	border-bottom: 8px solid #f2f4f2;
}

#box-4 {
	border-right: 8px solid #f2f4f2;
}

#box-6 {
	border-left: 8px solid #f2f4f2;
}

#box-7 {
	border-top: 8px solid #f2f4f2;
	border-right: 8px solid #f2f4f2;
}

#box-8 {
	border-top: 8px solid #f2f4f2;
}

#box-9 {
	border-top: 8px solid #f2f4f2;
	border-left: 8px solid #f2f4f2;
}

.box:hover {
	background-color: red;
}

.box:active {
	background-color: purple;
}

#reset-button {
	background-color: red;
	text-align: center;
	cursor: pointer;
	display: none;
}

.winner {
	background-color: gold;
}